name: C/C++ CI

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        sudo apt update && sudo apt -y install make autoconf python3 python3-pip cmake libgl-dev libgl1-mesa-dev xkb-data libx11-xcb-dev libfontenc-dev libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxres-dev libxss-dev libxtst-dev libxv-dev libxxf86vm-dev libxcb-glx0-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-cursor-dev libxcb-dri2-0-dev libxcb-dri3-dev libxcb-present-dev libxcb-composite0-dev libxcb-ewmh-dev libxcb-res0-dev libxcb-util-dev uuid-dev
        sudo pip install --ignore-installed --upgrade conan
        conan profile detect
        conan remote add prartifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN prartifactory cps-gitlab-runner
    - name: prepare dependencies
      run: |
       mkdir build && cd build
       conan install .. --build missing
    - name: build sysmlv2lib
      run: |
        ls -al
        cd build
        conan build .. --version=1.0-beta-3
   # - name: test
   #   run: |
   #     cd build
   #     conan test .. sysmlv2/1.0-beta-3 -s build_type=Debug
    #- name: test
    #- name: Doxygen
      # You may pin to the exact commit or the version.
      # uses: mattnotmitt/doxygen-action@cbe72c8e402e8a3faa1f0b247ef90aa6c8e4ce74
      #uses: mattnotmitt/doxygen-action@1.9.8
      #with:
        # Path to Doxyfile
        # doxyfile-path: ./Doxyfile
        # Working directory
        # working-directory: .
        # Generate latex documentation
        #enable-latex: # optional
        # Extra alpine packages for the build environment
        #additional-packages: # optional, default is 
          
