name: Main Branch Artifactory Upload


on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
      ARTIFACTORY_USER: ${{secrets.ARTIFACTORY_USERNAME}}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        sudo apt update && sudo apt -y install make autoconf python3 python3-pip cmake libgl-dev libgl1-mesa-dev xkb-data libx11-xcb-dev libfontenc-dev libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxres-dev libxss-dev libxtst-dev libxv-dev libxxf86vm-dev libxcb-glx0-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-cursor-dev libxcb-dri2-0-dev libxcb-dri3-dev libxcb-present-dev libxcb-composite0-dev libxcb-ewmh-dev libxcb-res0-dev libxcb-util-dev uuid-dev
        sudo pip install --ignore-installed --upgrade conan
        conan profile detect
        conan remote add protestator-conan $ARTIFACTORY_URL
        conan remote login -p $ARTIFACTORY_TOKEN protestator-conan $ARTIFACTORY_USER
        conan remote remove conancenter
    - name: prepare dependencies
      run: |
       mkdir build && cd build
       conan install ..
    - name: build sysmlv2lib
      run: |
        ls -al
        cd build
        conan create .. --version=1.0-beta-4-main
        conan create .. --version=1.0-beta-4-main -s build_type=Debug
        conan upload "sysmllib/*" -c -r protestator-conan
